.product_image {
    width: 320px;
    height: 220px;
}
.product_price {
    color: gray;
}
.panel-list {
    width: 100%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
}
#productCardBlock {
    margin-top: 10% !important;
    width: 80%;
}
